.catalog {
  width: 50%;
}

.content .catalog h3 {
  font-size: 24px;
  line-height: 32px;
  color: rgb(17, 17, 17);
  font-family: 'vaud-extrabold', Helvetica, Arial, serif;
}

.catalog .img-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.catalog .img-wrapper a {
  width: 100px;
  padding: 0.25rem 0;
}

.catalog .img-wrapper a img {
  width: 100px;
}

.catalog p {
  padding: 0.25rem 0 0.75rem;
}
