.catalog {
  width: 50%;
}

.content .catalog h3 {
  font-size: 24px;
  line-height: 32px;
  color: rgb(17, 17, 17);
  letter-spacing: 0px;
  font-family: 'FuturaBoldItalic', Helvetica, Arial, serif;
}

.catalog p {
  font-family: 'FuturaBook', Helvetica, Arial, serif;
  color: #4B4B4B;
  line-height: 24px;
  padding: 0.25rem 0 0.75rem;
}

.catalog .img-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.catalog .img-wrapper a {
  width: 100px;
  padding: 0.25rem 0;
}

.catalog .img-wrapper a img {
  width: 100px;
}

.catalog strong {
  font-family: 'FuturaBoldItalic', Helvetica, Arial, serif;
  font-style: bold;
}
