.catalog {
  width: 50%;
}

.content .catalog h3 {
  font-size: 24px;
  line-height: 32px;
  color: rgb(17, 17, 17);
  font-family: 'vaud-extrabold', Helvetica, Arial, serif;
}

.catalog .img-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.catalog .img-wrapper img {
  padding-right: 1em;
  padding-top: 1em;
  width: 25%;
  max-width: 400px;
}

.catalog p {
  padding: 0.25rem 0 0.75rem;
}
