.listen {
  width: 50%;
}

.listen p {
  font-family: 'vaud', Helvetica, Arial, serif;
  color: #4B4B4B;
  line-height: 24px;
  padding: 0.25rem 0 0.75rem;
}

.listen .title-wrapper h3 {
  font-size: 24px;
  line-height: 32px;
  color: rgb(17, 17, 17);
  letter-spacing: 0px;
  font-family: 'vaud-extrabold', Helvetica, Arial, serif;
}

.listen .img-wrapper img {
  padding-top: 1rem;
  width: 70%;
}

.listen strong {
  font-family: 'vaud', Helvetica, Arial, serif;
  font-style: bold;
}
