.footer {
  background: #f44e66;
}
.footer .wrapper {
  padding: 6rem 10rem;
  color: #fff;
}
.footer .wrapper .slogan {
  padding: 1rem 0;
}
.footer .wrapper .line {
  border-bottom: 1px solid #fff;
  margin-right: 65%;
  margin-bottom: 1rem;
}
.footer .wrapper .slogan p {
  font-size: 14px;
  line-height: 24px;
  font-family: FuturaBoldItalic, Helvetica, Arial, serif;
}
.footer .wrapper .credits {
  padding: 2rem 0;
}
.footer .wrapper .credits p {
  font-size: 14px;
  line-height: 24px;
  font-family: FuturaBook, Helvetica, Arial, serif;
}
.footer .wrapper .links img {
  height: 24px;
  width: 24px;
  padding-right: 0.75rem;
}
.header {
  font-family: HeimatMono-Bold, Helvetica, Arial, serif;
  background: url(https://github.plaid.com/raw/treis/plaid-fm/master/public/img/header-bg%402x.png?token=AAABTU63aF0MUTyAwhx-wplYr067eD-kks5dMRjcwA%3D%3D);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 100%;
}
.header .wrapper {
  padding: 6rem 10rem;
}
.header .wrapper h3 {
  color: #9b9b9b;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 20px;
}
.header .wrapper h1 {
  color: #f44e66;
  font-family: FuturaBoldItalic, Helvetica, Arial, serif;
  font-size: 60px;
  line-height: 72px;
  padding: 2rem 0;
}
.header .wrapper h2 {
  line-height: 36px;
  font-family: FuturaBook, Helvetica, Arial, serif;
  font-size: 24px;
  font-weight: 400;
}
.content .wrapper {
  padding: 6rem 10rem;
}
.content .wrapper h3 {
  color: #9b9b9b;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 20px;
  padding-bottom: 2rem;
  font-family: HeimatMono-Bold, Helvetica, Arial, serif;
}
.content .wrapper h2 {
  line-height: 48px;
  font-size: 36px;
  color: #111;
  font-family: FuturaBoldItalic, Helvetica, Arial, serif;
  padding-bottom: 4rem;
}
.content .listen_containers {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  height: 100%;
}
.catalog {
  width: 50%;
}
.content .catalog h3 {
  font-size: 24px;
  line-height: 32px;
  color: #111;
  letter-spacing: 0;
  font-family: FuturaBoldItalic, Helvetica, Arial, serif;
}
.catalog p {
  font-family: FuturaBook, Helvetica, Arial, serif;
  color: #4b4b4b;
  line-height: 24px;
  padding: 0.25rem 0 0.75rem;
}
.catalog .img-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.catalog .img-wrapper a img {
  width: 30%;
  padding: 0.5rem 0.5rem 0 0;
}
.catalog strong {
  font-family: FuturaBoldItalic, Helvetica, Arial, serif;
  font-style: bold;
}
.inner_row:nth-child(2) {
  margin-top: -4px;
}
.listen {
  width: 50%;
}
.listen p {
  font-family: FuturaBook, Helvetica, Arial, serif;
  color: #4b4b4b;
  line-height: 24px;
  padding: 0.25rem 0 0.3rem;
}
.listen .title-wrapper h3 {
  font-size: 24px;
  line-height: 32px;
  color: #111;
  letter-spacing: 0;
  font-family: FuturaBoldItalic, Helvetica, Arial, serif;
}
.listen .img-wrapper img {
  padding-top: 16px;
  width: 75%;
}
.listen strong {
  font-family: FuturaBoldItalic, Helvetica, Arial, serif;
  font-style: bold;
  padding-bottom: 0.75rem;
}
*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}
html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: Roboto, sans-serif;
}
.col,
.row {
  display: flex;
}
.col {
  flex-direction: column;
}
@font-face {
  font-family: Vaud-ExtraBold;
  src: url(https://plaid-fm.github.io/plaid-fm/static/fonts/Vaud-ExtraBold.otf)
    format('opentype');
}
@font-face {
  font-family: Vaud;
  src: url(https://plaid-fm.github.io/plaid-fm/static/fonts/Vaud.otf)
    format('opentype');
}
@font-face {
  font-family: FuturaBoldItalic;
  src: url('https://plaid-fm.github.io/fonts/Supreme-Font/FuturaBoldItalicfont.ttf')
    format('opentype');
}
@font-face {
  font-family: FuturaBook;
  src: url('https://plaid-fm.github.io/fonts/Supreme-Font/FuturaBookfont.ttf')
    format('opentype');
}
@font-face {
  font-family: FuturaPT-Bold;
  src: url(https://plaid-fm.github.io/plaid-fm/static/fonts/.32874.otf)
    format('opentype');
}
@font-face {
  font-family: FuturaPT-Medium;
  src: url(https://plaid-fm.github.io/plaid-fm/static/fonts/.10879.otf)
    format('opentype');
}
@font-face {
  font-family: TapefontAlt;
  src: url(https://plaid-fm.github.io/plaid-fm/static/fonts/TAPEALT_.TTF)
    format('truetype');
}
@font-face {
  font-family: HeimatMono-Bold;
  src: url('https://plaid-fm.github.io/plaid-fm/static/fonts/Atlas.otf')
    format('opentype');
}
/*# sourceMappingURL=main.9456f52b.chunk.css.map */
