*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}

/* body {
  min-height: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
} */

.row {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
}

.col {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
}

@font-face {
  font-family: 'Vaud-ExtraBold';
  src: url('/fonts/Vaud-ExtraBold.otf') format('opentype');
}
@font-face {
  font-family: 'Vaud';
  src: url('/fonts/Vaud.otf') format('opentype');
}
@font-face {
  font-family: 'FuturaBoldItalic';
  src: url('/fonts/Supreme-Font/Futura Bold Italic font.ttf') format('opentype');
}
@font-face {
  font-family: 'FuturaBook';
  src: url('/fonts/Supreme-Font/Futura Book font.ttf') format('opentype');
}
@font-face {
  font-family: 'FuturaPT-Bold';
  src: url('/fonts/.32874.otf') format('opentype');
}
@font-face {
  font-family: 'FuturaPT-Medium';
  src: url('/fonts/.10879.otf') format('opentype');
}
@font-face {
  font-family: 'TapefontAlt';
  src: url('/fonts/TAPEALT_.TTF') format('truetype');
}
@font-face {
  font-family: 'HeimatMono-Bold';
  src: url('/fonts/Atlas Font Foundry - Heimat Mono Bold.otf')
    format('opentype');
}
