.footer {
  background: #f44e66;
}

.footer .wrapper {
  padding: 6rem 10rem;
  color: rgba(255, 255, 255, 1);
}

.footer .wrapper .slogan {
  padding: 1rem 0;
}

.footer .wrapper .line {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  margin-right: 65%;
  margin-bottom: 1rem;
}

.footer .wrapper .slogan p {
  font-size: 14px;
  line-height: 24px;
  font-family: 'FuturaBoldItalic', Helvetica, Arial, serif;
}

.footer .wrapper .credits {
  padding: 2rem 0rem;
}

.footer .wrapper .credits p {
  font-size: 14px;
  line-height: 24px;
  font-family: 'FuturaBook', Helvetica, Arial, serif;
}

.footer .wrapper .links img {
  height: 24px;
  width: 24px;
  padding-right: 0.75rem;
}
